# Installed dependency directories
**/node_modules/

# Gatsby build directories
/sites/*/.cache/
/sites/*/public/

# Attribute and cache files
**/.DS_Store
**/desktop.ini
**/*.eslintcache
**/*.log*
**/*.tsbuildinfo
